﻿@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/angular-controllers/StationController.js"></script>

<div class="row" ng-app="mainApp" ng-controller="StationController">
    <div class="col-md-12">
        <div class="form-group">
            <label>Enter station:</label>
            <input type="text" class="form-control" ng-model="searchText" ng-change="typeAhead()"/>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
            <ul>
                <li ng-repeat="item in list">
                    {{item.Name}}
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="col-md-4">
                <table class="table table-bordered">
                    <tr>
                        <td ng-class="{'char-selected': selChar('A')}">A</td>
                        <td ng-class="{'char-selected': selChar('B')}">B</td>
                        <td ng-class="{'char-selected': selChar('C')}">C</td>
                        <td ng-class="{'char-selected': selChar('D')}">D</td>
                        <td ng-class="{'char-selected': selChar('E')}">E</td>
                    </tr>
                    <tr>
                        <td ng-class="{'char-selected': selChar('F')}">F</td>
                        <td ng-class="{'char-selected': selChar('G')}">G</td>
                        <td ng-class="{'char-selected': selChar('H')}">H</td>
                        <td ng-class="{'char-selected': selChar('I')}">I</td>
                        <td ng-class="{'char-selected': selChar('J')}">J</td>
                    </tr>
                    <tr>
                        <td ng-class="{'char-selected': selChar('K')}">K</td>
                        <td ng-class="{'char-selected': selChar('L')}">L</td>
                        <td ng-class="{'char-selected': selChar('M')}">M</td>
                        <td ng-class="{'char-selected': selChar('N')}">N</td>
                        <td ng-class="{'char-selected': selChar('O')}">O</td>
                    </tr>
                    <tr>
                        <td ng-class="{'char-selected': selChar('P')}">P</td>
                        <td ng-class="{'char-selected': selChar('Q')}">Q</td>
                        <td ng-class="{'char-selected': selChar('R')}">R</td>
                        <td ng-class="{'char-selected': selChar('S')}">S</td>
                        <td ng-class="{'char-selected': selChar('T')}">T</td>
                    </tr>
                    <tr>
                        <td ng-class="{'char-selected': selChar('U')}">U</td>
                        <td ng-class="{'char-selected': selChar('V')}">V</td>
                        <td ng-class="{'char-selected': selChar('W')}">W</td>
                        <td ng-class="{'char-selected': selChar('X')}">X</td>
                        <td ng-class="{'char-selected': selChar('Y')}">Y</td>
                    </tr>
                    <tr>
                        <td ng-class="{'char-selected': selChar('Z')}">Z</td>
                        <td ng-class="{'char-selected': selChar(' ')}">_</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>